@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section text-center">
    <div class="hero-content">
        <h1>Seja bem-vindo à TechStore</h1>
        <p>Os melhores computadores, periféricos e acessórios com a qualidade que você merece.</p>
    </div>
</div>
